.mb-8 {
    margin-bottom: 8px !important
}

.mb-10 {
    margin-bottom: 10px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-45 {
    margin-bottom: 45px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-60 {
    margin-bottom: 60px
}

.mb-90 {
    margin-bottom: 90px
}

.pt-90 {
    padding-top: 90px
}

.pt-120 {
    padding-top: 120px
}

.pb-70 {
    padding-bottom: 70px
}

.pb-100 {
    padding-bottom: 100px
}