@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url(./animation.css);

:root {
    --tp-ff-body: 'Outfit', sans-serif;
    --tp-ff-p: 'Outfit', sans-serif;
    --tp-text-body: #57595F;
    --tp-heading-primary: #161613;
    --tp-heading-2: #031F42;
    --tp-heading-3: #0A1D3A;
    --tp-heading-4: #161821;
    --tp-common-white: #ffffff;
    --tp-common-black: #000;
    --tp-theme-3: #FF7162;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--tp-ff-body);
    font-size: 14px;
    font-weight: normal;
    color: var(--tp-text-body);
    line-height: 26px;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--tp-heading-primary);
    margin-top: 0px;
    font-weight: 600;
    line-height: 1.2;
    -webkit-transition: color 0.3s 0s ease-out;
    -moz-transition: color 0.3s 0s ease-out;
    -ms-transition: color 0.3s 0s ease-out;
    -o-transition: color 0.3s 0s ease-out;
    transition: color 0.3s 0s ease-out;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: middle;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

p {
    font-family: var(--tp-ff-p);
    font-size: 16px;
    font-weight: 400;
    color: var(--tp-text-body);
    margin-bottom: 15px;
    line-height: 26px;
}




/* 
======================
Reusable code 
=======================

 */

.container {
    max-width: 1225px;
    margin: auto;
    /* padding-inline: 1.5rem; */
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}



span.gblue-border {
    border-radius: 40px 30px;
    background: #09B1AB;
}

span.yellow-border {
    border-radius: 20px 34px 34px 34px;
    background: #FA922C;
}

span.lyellow-border {
    border-radius: 20px 34px 34px 34px;
    background: #FDBF62;
}

span.blue-border {
    border-radius: 22px 45px 28px 22px;
    background: #47B1E4;
}

span.tomato-border {
    border-radius: 46px 30px;
    background: #F67568;
}

span.dark-border {
    border-radius: 20px 34px 34px 34px;
    background: #8E8E8E;
}




/* 
===============
Header section
=================
*/

.tp-header-transparent.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    transition: 0.3s ease;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 4px rgba(7, 37, 68, 0.1);
    animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
}

.tp-header-transparent {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}

.tp-header-transparent .tp-megamenu-small {
    border-radius: 8px;
}

.tp-header-transparent .main-menu nav ul li .tp-submenu {
    border-radius: 8px;
}


.tp-header-3 .main-menu nav>ul>li>a {
    color: var(--tp-heading-3);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tp-header-3 .main-menu nav>ul>li>a:hover {
    color: var(--tp-theme-3);
}

.tp-header-3 .main-menu nav>ul>li>a:hover::after {
    color: var(--tp-theme-3);
}

.tp-header-3 .main-menu nav>ul>li.has-dropdown>a:hover::after {
    color: var(--tp-theme-3);
}

.tp-header-3 .main-menu nav>ul>li.has-dropdown>a::after {
    color: var(--tp-heading-3);
}

.tp-header-3 .main-menu nav>ul>li:hover>a {
    color: var(--tp-theme-3);
}

.tp-header-3 .main-menu nav>ul>li:hover>a::after {
    color: var(--tp-theme-3);
}

.tp-header-3 .main-menu nav>ul>li:hover>a::before {
    background-color: var(--tp-theme-3);
}

.tp-header-3 .main-menu nav>ul>li .tp-submenu>li:hover a {
    color: var(--tp-theme-3);
}

.tp-header-3 .main-menu nav>ul>li .tp-submenu>li:hover a::before {
    background-color: var(--tp-theme-3);
}

.tp-header-3 .offcanvas-open-btn {
    border: 2px solid rgba(255, 113, 98, 0.4);
}

.tp-header-3 .offcanvas-open-btn i {
    color: var(--tp-theme-3);
}

.tp-header-3 .offcanvas-open-btn:hover {
    border-color: #ff7162;
}


.main-menu>nav>ul>li {
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0px 18px;


}



.main-menu>nav>ul>li>a {
    display: inline-block;
    color: var(--tp-common-white);
    padding: 35px 0 35px 0;
    line-height: 1.5;
    font-size: 17px;
    font-weight: 500;
}

.main-menu>nav>ul>li.has-dropdown>a {
    position: relative;

}

.main-menu>nav>ul>li.has-dropdown>a img {


    transition: all 0.3s 0s ease-out;
}

.main-menu>nav>ul>li.has-dropdown>a:hover img {


    transform: rotate(-180deg);
}

.main-menu>nav>ul>li.has-dropdown>a.tp-static {
    position: static;
}

.main-menu>nav>ul>li>.tp-submenu {
    position: absolute;
    top: 100%;
    left: -30px;
    width: 240px;
    z-index: 99;
    opacity: 0;
    transform: scale(1, 0);
    transform-origin: 0 0;
    visibility: hidden;
    transition: 0.5s;
    border-radius: 0px 0px 8px 8px;
    background: var(--tp-common-white);
    border: 1px solid rgba(48, 48, 47, 0.1);
    box-shadow: 0px 1px 2px 1px rgba(3, 11, 30, 0.06), 0px 1px 1px 0px rgba(3, 11, 30, 0.1);
    padding: 30px 0 15px;
    text-align: start;
}

.main-menu>nav>ul>li>.tp-submenu li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;

    transform: translateY(-10px);
}

.main-menu>nav>ul>li>.tp-submenu li:not(:last-of-type) {
    margin-bottom: 12px;
}

.main-menu>nav>ul>li>.tp-submenu li.has-dropdown>a::after {
    position: absolute;
    top: 50%;
    right: 25px;

    transform: translateY(-50%) rotate(-90deg);
}

.main-menu>nav>ul>li>.tp-submenu li>a {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: #55585B;
    padding-left: 30px;
    display: inline-block;
    width: 100%;
    z-index: 11;

    transition: all 0.3s 0s ease-out;
}

.main-menu>nav>ul>li>.tp-submenu li>a::before {
    position: absolute;
    content: "";
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 1px;
    background-color: #AB0C2F;

    transition: all 0.3s 0s ease-out;
}

.main-menu>nav>ul>li>.tp-submenu li>.tp-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 240px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transform: scale(1, 0);
    transform-origin: 0 0;
    transition: 0.5s;
    border-radius: 8px;
    background: var(--tp-common-white);
    border: 1px solid rgba(48, 48, 47, 0.1);
    box-shadow: 0px 1px 2px 1px rgba(3, 11, 30, 0.06), 0px 1px 1px 0px rgba(3, 11, 30, 0.1);
    padding: 30px 0 15px;
}

.main-menu>nav>ul>li>.tp-submenu li:hover>a {
    color: var(--tp-theme-primary);
    padding-left: 35px;
}

.main-menu>nav>ul>li>.tp-submenu li:hover>a::after {
    color: var(--tp-common-white);
}

.main-menu>nav>ul>li>.tp-submenu li:hover>a::before {
    width: 12px;
}

.main-menu>nav>ul>li>.tp-submenu li:hover .tp-submenu {
    left: 100%;
    opacity: 1;
    visibility: visible;
}

.main-menu>nav>ul>li.tp-static {
    position: static;
}

.main-menu>nav>ul>li:hover>a {
    color: rgba(255, 255, 255, 0.7);
}

.main-menu>nav>ul>li:hover>a::after {
    transform: rotate(180deg);
    color: rgba(255, 255, 255, 0.7);
}

.main-menu>nav>ul>li:hover .tp-submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.main-menu>nav>ul>li:hover .tp-submenu li:hover>.tp-submenu {
    left: 100%;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.main-menu>nav>ul>li:hover>.tp-megamenu-main {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.tp-megamenu-main {
    position: absolute;
    z-index: 99;
    opacity: 0;
    transform: scale(1, 0);
    transform-origin: 0 0;
    visibility: hidden;
    transition: 0.3s;
    top: 100%;
    left: 0;
    right: 0;
}

.tp-megamenu-small {
    top: 100%;
    left: -40px;
    width: 580px;
    text-align: start;
    border-radius: 0px 0px 8px 8px;
    background: var(--tp-common-white);
    border: 1px solid rgba(48, 48, 47, 0.1);
    box-shadow: 0px 1px 2px 1px rgba(3, 11, 30, 0.06), 0px 1px 1px 0px rgba(3, 11, 30, 0.1);
}



.tp-megamenu-small-content {
    padding: 30px 40px 25px;
}



.tp-megamenu-small-content .tp-megamenu-list a,
.tp-main-menu-mobile ul li>a {
    position: relative;
    display: block;
    color: #55585B;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
    margin-bottom: 14px;
    border-bottom: 1px solid #EDEDED;
    transition: all 0.3s 0s ease-out;
}

.tp-megamenu-small-content .tp-megamenu-list a:hover {
    padding-left: 15px;
    color: var(--tp-theme-4);
}

.tp-megamenu-small-content .tp-megamenu-list a:hover::before {
    width: 12px;
}

.tp-megamenu-small-content .tp-megamenu-list a::before {
    position: absolute;
    content: "";
    left: 0;
    top: 14px;
    width: 0;
    height: 1px;
    background-color: var(--tp-theme-primary);

    transition: all 0.3s 0s ease-out;
}

.tp-megamenu-small-content .tp-megamenu-list.orange-color a:hover {
    color: var(--tp-theme-3);
}

.tp-megamenu-small-content .tp-megamenu-list.orange-color a:hover::before {
    background-color: var(--tp-theme-3);
}

.tp-megamenu-small-cta {
    border-radius: 6px;
    background: #FFDEF7;
    padding: 18px 46px 0 46px;
    display: flex;
}

.tp-megamenu-small-cta-wrap {
    padding: 0 6px 5px 6px;
}

.tp-megamenu-small-cta-thumb {
    margin-right: 15px;
}

.tp-megamenu-small-cta-title {
    color: #073742;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin: 5px 22px 0 0;
}



.header_inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo_container {
    flex: 0 0 auto;
    width: 16.66666667%;
    padding-inline: 10px;
}

.nav_container {
    flex: 0 0 auto;
    width: 66.66666667%;
    padding-inline: 10px;
}

.main-menu {
    text-align: center;
}

.megamenu-demo-small {
    position: relative;
}

.megamenu_small_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.megamune_sub_col {
    flex: 0 0 auto;
    width: 50%;
    padding-inline: 10px;
}

.small_cta {
    display: flex;
    flex-wrap: wrap;

}

.header_cta {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.tp-header-contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.book-visit-btn {
    font-size: 16px;
    font-weight: 600;
    border-radius: 18px;
    padding: 11px 28px;
    color: var(--tp-common-white);
    background-color: var(--tp-theme-3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: all 0.3s 0s ease-out;
}

.book-visit-btn:hover {
    background-color: var(--tp-common-black);
}


/* 
===============
Header section end 
=================
*/

/* 
===============
hero section start 
=================
*/


#hero {
    padding-top: 168px;
    padding-bottom: 142px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/banner-3-bg-1.jpg);
}

.space_img {
    position: absolute;
    top: 175px;
    left: -125px;
    animation: neptune 10s infinite linear;
    z-index: 0;
}

.hero_top_block,
.hero_bottom_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.hero_top_block .left_hero {
    flex: 0 0 auto;
    width: 66.66%;
    padding-inline: 24px;
}

.hero_top_block .right_hero {
    flex: 0 0 auto;
    width: 33.33%;
    padding-inline: 24px;
}

.hero_top_block .hero_text_block {
    position: relative;

}

.hero_top_block .hero_title {
    color: #0A1D3A;
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1.1;
    font-family: var(--tp-ff-body);
    /* text-wrap: nowrap; */
}

.hero_top_block .hero_shape_1 {
    position: absolute;
    top: -3px;
    left: -15px;
    z-index: 0;
    animation: tpswing 3s ease-in-out 0.1s forwards infinite alternate;
    transform-origin: bottom left;
}

.hero_top_block .hero_right_img {
    position: relative;
    z-index: 1;
}

.letter_img .letter_a {
    position: absolute;
    top: 88px;
    right: 38px;
    animation: a 1.5s linear 0s infinite alternate;
}

.letter_img .letter_b {
    position: absolute;
    top: 29px;
    right: -10px;
    animation: a 2s linear 0s infinite alternate;
}

.letter_img .letter_c {
    position: absolute;
    top: 89px;
    right: -47px;
    animation: a 2s linear 0s infinite alternate;
}


.hero_bottom_block {
    align-items: flex-end;
}

.hero_bottom_block .tp_block_1 {
    flex: 0 0 auto;
    width: 16.66666667%;
    padding-inline: 10px;
}

.tp-hero-3-apply-btn a {
    display: inline-block;
    padding: 53px 36px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #FF7162;
    -webkit-transition: all 0.3s 0s ease-out;
    -moz-transition: all 0.3s 0s ease-out;
    -ms-transition: all 0.3s 0s ease-out;
    -o-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
}

.tp-hero-3-apply-btn a span {
    display: inline-block;
    margin-bottom: 7px;
}

.tp-hero-3-apply-btn a:hover {
    animation: morph 3s linear infinite;
    background-color: #000;
    border-radius: 40% 60% 70% 30%/40% 50% 60% 50%;
}

.hero_bottom_block .tp_block_2 {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding-inline: 10px;
}

.tp-hero-3-thumb-2 img,
.tp-hero-3-thumb-3 img {
    max-width: 100%;
}

.hero_bottom_block .tp_block_3 {
    flex: 0 0 auto;
    width: 25%;
    padding-inline: 10px;
}

.hero_bottom_block .tp_block_4 {
    flex: 0 0 auto;
    width: 25%;
    padding-inline: 10px;
}

.hero_bottom_block .tp_block_2,
.hero_bottom_block .tp_block_2 {
    flex: 0 0 auto;
    width: 25%;
    padding-inline: 10px;
}

.tp-hero-3-text {
    margin-left: 24px;
}

.tp-hero-3-text p {
    color: #636366;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 34px;
}

/* 
===============
hero section start 
=================
 */


/* 
===============
Service section start 
=================
 */

#service {
    padding-top: 85px;
    padding-bottom: 90px;
    position: relative;
    z-index: 1;
    background-image: url(../images/services-3-bg.jpg);
}

.service_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service_inner .service_heading_block {

    flex: 0 0 auto;
    width: 66.66666667%;
    padding-inline: 10px;

}

.service_inner .service_text_block {
    text-align: center;
    position: relative;
}

.service_inner .heading {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.service_shape_1 {
    position: absolute;
    top: 0;
    right: 90px;
    z-index: 0;
}



.tp-service-3-shape-1 {
    position: absolute;
    top: 118px;
    left: 166px;
}

.tp-service-3-shape-2 {
    position: absolute;
    top: 127px;
    right: 250px;
    animation: opacity 2s ease-in-out 0.1s forwards infinite alternate;
}

.tp-service-3-shape-3 {
    position: absolute;
    bottom: 0;
    left: 30px;
}

.tp-service-3-shape-4 {
    position: absolute;
    bottom: 0;
    right: 200px;
    animation: tpswing 3s ease-in-out 0.1s forwards infinite alternate;
    transform-origin: bottom left;
    z-index: -1;
}

.tp-service-3-shape-5 {
    position: absolute;
    top: -93px;
    right: 354px;
    transform-origin: bottom left;
    z-index: -1;
    animation: tpswing 3s ease-in-out 0.1s forwards infinite alternate;
}

.service_cards_block {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 10px;
}

.service_card {
    flex: 0 0 auto;
    width: 25%;
    padding-inline: 10px;
}

.tp-service-3-item {
    -webkit-transition: all 0.3s 0s ease-out;
    -moz-transition: all 0.3s 0s ease-out;
    -ms-transition: all 0.3s 0s ease-out;
    -o-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
    background-color: transparent;
    padding: 50px 30px 25px 33px;
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.02);
}

.tp-service-3-title {
    color: var(--tp-common-white);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    -webkit-transition: all 0.3s 0s ease-out;
    -moz-transition: all 0.3s 0s ease-out;
    -ms-transition: all 0.3s 0s ease-out;
    -o-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
}

.tp-service-3-item:hover {
    background-color: var(--tp-common-white);
}

.tp-service-3-item:hover .tp-service-3-title {
    color: var(--tp-heading-3);
}

.tp-service-3-item:hover .tp-service-3-content p {
    color: #696969;
}

.tp-service-3-item:hover .tp-service-3-icon-active {
    opacity: 0;
    visibility: hidden;
}

.tp-service-3-item:hover .tp-service-3-icon-hover {
    opacity: 1;
    visibility: visible;
}

.tp-service-3-icon {
    margin-bottom: 43px;
    position: relative;
}

.tp-service-3-icon-active {
    -webkit-transition: all 0.3s 0s ease-out;
    -moz-transition: all 0.3s 0s ease-out;
    -ms-transition: all 0.3s 0s ease-out;
    -o-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
}

.tp-service-3-icon-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s 0s ease-out;
    -moz-transition: all 0.3s 0s ease-out;
    -ms-transition: all 0.3s 0s ease-out;
    -o-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
}


.tp-service-3-content p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 22px;
}

.tp-service-3-heading {
    position: absolute;
    top: 0;
    right: 90px;
    z-index: 0;
}

/* 
===============
Service section end
=================
 */

/* 
===============
process section start
=================
 */

#process {
    position: relative;
    z-index: 1;
    padding-top: 110px;
    padding-bottom: 195px;
    overflow: hidden;
}

.process_inner {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.process_text_block {
    flex: 0 0 auto;
    width: 50%;
}

.process_inner .heading {
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -1.2px;
    font-weight: 500;
    color: var(--tp-heading-3);
}

.process_inner .process_text_block p {
    font-size: 17px;
    margin-bottom: 25px;
}

.process_flow_block {
    position: relative;
    z-index: 1;
}

.process_flow_text {
    display: flex;
    flex-wrap: wrap;
}

.process_flow_card {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.tp-process-3-item-1 {
    margin-top: 182px;
}

.tp-process-3-icon {
    margin-bottom: 25px;
}

.tp-process-3-icon span {
    display: inline-block;
    height: 72px;
    width: 72px;
    line-height: 72px;
    text-align: center;
}

.tp-process-3-title {
    color: var(--tp-heading-3);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 11px;
}

.tp-process-3-content p {
    font-size: 17px;
    color: #696969;
    line-height: 24px;
}

span.pink-border {
    border-radius: 22px 45px 28px 22px;
    background: #DF7BD2;
}

.tp-process-3-item-2 {
    margin-left: 17px;
    margin-top: 62px;
}

.tp-process-3-item-3 {
    margin-left: 72px;
    margin-top: -57px;
}

.tp-process-3-shape-1 {
    position: absolute;
    top: -30px;
    left: 55px;
    z-index: -1;
}

.tp-process-3-shape-2 {
    position: absolute;
    bottom: 0;
    right: -12px;
    z-index: -1;
}

.tp-process-3-shape-3 {
    position: absolute;
    bottom: 0;
    left: 30px;
    z-index: -1;
    animation: tpswing 1.8s ease-in-out 0.1s forwards infinite alternate;
    transform-origin: bottom left;
}

.tp-process-3-shape-4 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.tp-process-3-shape-5 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    animation: tpswing 1.5s ease-in-out 0.1s forwards infinite alternate;
    transform-origin: bottom right;
}

.tp-process-3-shape-6 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    animation: tpswing 2s ease-in-out 0.1s forwards infinite alternate;
    transform-origin: bottom right;
}

.tp-process-3-shape-7 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.tp-process-3-shape-8 {
    position: absolute;
    bottom: 65px;
    /* left: 28%; */
    left: 47%;
    z-index: -1;
    animation: tpswings 2s ease-in-out 0.1s forwards infinite alternate;
    transform-origin: bottom left;
}

.tp-process-3-shape-9 {
    position: absolute;
    bottom: 62px;
    right: 22%;
    z-index: -1;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: hero-bounce;
}

.tp-process-3-shape-10 {
    position: absolute;
    bottom: 18px;
    left: 25%;
    z-index: -1;
    animation: tpswing 0.4s ease-in-out 0.1s forwards infinite alternate;
    transform-origin: bottom bottom;
}

.tp-process-3-shape-11 {
    position: absolute;
    bottom: 55px;
    left: 50%;
    z-index: -1;
    animation: tpswing 1s ease-in-out 0.1s forwards infinite alternate;
    animation: bannerAnimationTwo 8s linear 0.2s infinite alternate;
    transform-origin: bottom bottom;
}

.tp-process-3-shape-11 img {
    width: 30px;
}

.tp-process-3-shape-12 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #EFEDFF;
    position: absolute;
    right: -100px;
    top: 218px;
}

.tp-process-3-shape-13 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #E0F0DD;
    position: absolute;
    left: -50px;
    top: 340px;
    animation: spin 7s infinite linear;
    z-index: -1;
}

.tp-process-3-shape-14 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFE9C8;
    position: absolute;
    left: 135px;
    top: 200px;
    animation: spin 6s infinite linear;
    z-index: -1;
}

.tp-process-3-shape-15 {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: linear-gradient(157deg, #FFCA91 11.73%, #FFE3C4 88.26%);
    position: absolute;
    left: 205px;
    bottom: 250px;
    animation: neptune 12s infinite linear;
}

.tp-process-3-shape-16 {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: linear-gradient(157deg, #FFCA91 11.73%, #FFE3C4 88.26%);
    position: absolute;
    left: 31%;
    top: 45%;
    animation: neptune 8s infinite linear;
}

.tp-process-3-shape-17 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: linear-gradient(157deg, #FFCA91 11.73%, #FFE3C4 88.26%);
    position: absolute;
    right: 135px;
    bottom: 40%;
    animation: neptune 10s infinite linear;
}



/* 
===============
process section end
=================
 */


/* 
===============
Program section start
=================
 */


#program {
    position: relative;
    z-index: 1;
}

.program_heading_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-inline: 10px; */
}

.program_heading_wrapper {
    flex: 0 0 auto;
    width: 50%;
}

.program_heading_wrapper {
    text-align: center;
}

.program_subtitle {
    color: var(--tp-theme-3);
    font-size: 20px;
    display: inline-block;
}

.program_title {
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -1.2px;
    font-weight: 500;
    color: var(--tp-heading-3);
}

.program_course_cards_block {
    display: flex;
    flex-wrap: wrap;
}

.program_card {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding-inline: 10px;
}

.tp-program-3-item {
    border-radius: 30px;
    border: 1px solid rgba(17, 22, 29, 0.04);
    box-shadow: 0px 1px 1px 0px rgba(17, 22, 29, 0.08);
    padding: 30px 30px 30px 30px;
    -webkit-transition: all 0.3s 0s ease-out;
    -moz-transition: all 0.3s 0s ease-out;
    -ms-transition: all 0.3s 0s ease-out;
    -o-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
}



.tp-program-3-item:hover {
    border: 1px solid rgba(3, 31, 66, 0.08);
    box-shadow: 0px 6px 10px 0px rgba(10, 29, 58, 0.1);
}

.tp-program-3-item:hover .tp-program-3-thumb img {
    transform: scale(1.06);
}

.tp-program-3-thumb {
    border-radius: 15px;
    margin-bottom: 27px;
    overflow: hidden;
}

.tp-program-3-thumb img {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.tp-program-3-title {
    color: var(--tp-heading-3);
    font-size: 24px;
    font-weight: 700;
}

.tp-program-3-title a:hover {
    color: var(--tp-theme-3);
}

.tp-program-3-content>p {
    color: var(--tp-grey-5);
    font-size: 15px;
}



.tp-program-3-schedule {
    margin-bottom: 36px;
    align-items: center;
    display: flex;
}

.tp-program-3-schedule-item:not(:last-of-type) {
    margin-right: 24px;
    padding-right: 24px;
    border-right: 1px solid rgba(156, 41, 178, 0.2);
}



.tp-program-3-schedule-item span {
    color: #75767A;
    font-size: 15px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 0;
}

.tp-program-3-schedule-item p {
    margin-bottom: 0;
    color: var(--tp-heading-3);
    font-size: 16px;
    line-height: 1;
}

.tp-program-3-btn a {
    display: block;
    text-align: center;
    border-radius: 16px;
    border: 1px solid rgba(3, 31, 66, 0.1);
    background: rgba(245, 245, 245, 0.1);
    color: #626569;
    font-size: 15px;
    font-weight: 500;
    padding: 11px 10px 12px 10px;
    line-height: 1;
    -webkit-transition: all 0.3s 0s ease-out;
    -moz-transition: all 0.3s 0s ease-out;
    -ms-transition: all 0.3s 0s ease-out;
    -o-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
}

.tp-program-3-btn a:hover {
    background-color: var(--tp-theme-3);
    color: var(--tp-common-white);
}

/* 
===============
Program section end
=================
 */

/* 
===============
Gallery section start
=================
 */

#gallery {
    margin-bottom: -152px;
}

.gallery_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.gallery_card_sm {
    flex: 0 0 auto;
    width: 16.66666667%;
    padding-inline: 10px;
}

.tp-gallary-3-item-1 {
    margin-top: 80px;
    border-radius: 30px;
}

.tp-gallary-3-item-1 img,
.tp-gallary-3-item-4 img {
    border-radius: 30px;
    max-width: 100%;
}

.gallery_card_lg {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding-inline: 10px;
}

.tp-gallary-3-item-2,
.tp-gallary-3-item-3 {
    border-radius: 36px;
}

.tp-gallary-3-item-2 img,
.tp-gallary-3-item-3 img {
    border-radius: 36px;
    animation: radiusChange 6s linear infinite;
    max-width: 100%;
}

.tp-gallary-3-item-4 {
    margin-top: 175px;
}

/* 
===============
Gallery section end
=================
 */

/* 
===============
Subject section start
=================
 */

#subject {
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 256px;
    padding-bottom: 68px;
    background-image: url(../images/subject-bg-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.subject_inner {
    display: flex;
    flex-wrap: wrap;
}

.subject_inner .subject_text_block {
    flex: 0 0 auto;
    width: 41.66666667%;
    padding-inline: 10px;
}

.subject_inner .heading_text span {
    display: inline-block;
    border-radius: 12px;
    background: #DF7BD2;
    color: var(--tp-common-white);
    font-size: 15px;
    font-weight: 600;
    padding: 2px 16px;
    margin-bottom: 16px;
}

.subject_inner .heading_text h2 {
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -1.2px;
    font-weight: 500;
    color: var(--tp-heading-3);
}

.subject_inner .subject_cards_block {
    flex: 0 0 auto;
    width: 58.33333333%;
    padding-inline: 10px;
}

.subject_inner .subject_cards_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 75px;
    grid-column-gap: 80px;
    margin-left: 70px;
}

.tp-subject-icon {
    margin-bottom: 17px;
}

.tp-subject-icon span {
    display: inline-block;
    height: 72px;
    width: 72px;
    line-height: 72px;
    text-align: center;
}

.event_heading_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event_heading_block .heading_block {
    flex: 0 0 auto;
    width: 50%;
    padding-inline: 10px;
}

.event_heading_block .heading_block .heading {
    text-align: center;
}

.event_heading_block .heading_block .heading h2 {
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -1.2px;
    font-weight: 500;
    color: var(--tp-heading-3);
}

.events_cards_block {
    display: flex;
    flex-wrap: wrap;
}

.events_cards_block .event_card {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding-inline: 10px;
}

.tp-event-3-item {
    border-radius: 30px;
    border: 1px solid rgba(17, 22, 29, 0.04);
    box-shadow: 0px 1px 1px 0px rgba(17, 22, 29, 0.08);
    padding: 30px 30px 32px 30px;

    transition: all 0.3s 0s ease-out;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .tp-event-3-item {
        padding: 20px 20px 22px 20px;
    }
}

.tp-event-3-item:hover {
    box-shadow: 0px 6px 10px 0px rgba(41, 36, 3, 0.1);
}

.tp-event-3-item:hover .tp-event-3-thumb img {
    transform: scale(1.03);
}

.tp-event-3-thumb {
    position: relative;
    z-index: 1;
    margin-bottom: 26px;
    overflow: hidden;
    border-radius: 15px;
}

.tp-event-3-thumb img {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;

    transition: 0.5s;
}

.tp-event-3-date {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 12px;
    background: var(--tp-theme-3);
    display: inline-block;
    padding: 7px 14px 11px 14px;
    text-align: center;
    width: 54px;
}

.tp-event-3-date span {
    color: var(--tp-common-white);
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}

.tp-event-3-date p {
    color: var(--tp-common-white);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1;
    margin-top: -4px;
}

.tp-event-3-title {
    color: #11161D;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 17px;

    transition: all 0.3s 0s ease-out;
}

.tp-event-3-title a:hover {
    color: var(--tp-theme-3);
}

.tp-event-3-content span {
    color: var(--tp-grey-2);
    font-size: 15px;
}

.tp-event-3-content span img {

    transform: translateY(-3px);
}


/* 
===============
Subject section end
=================
 */

/* 
===============
CTA section Start
=================
 */

#cta {
    position: relative;
    background: linear-gradient(180deg, rgba(246, 245, 239, 0) 0%, #F6F5EF 100%);
}


.cta_inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cta_inner .cta_text_block {
    flex: 0 0 auto;
    width: 41.66666667%;
    padding-inline: 10px;
}

.cta_inner .cta_form_block {
    flex: 0 0 auto;
    width: 58.33333333%;
    padding-inline: 10px;
}

.tp-cta-3-section {
    margin-top: 70px;
    text-align: center;
}

.tp-cta-3-title {
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 21px;
}

.tp-cta-3-border {
    height: 60px;
    width: 2px;
    background-color: #E4E3DD;
    display: inline-block;
    margin-bottom: 12px;
}

.cta_inner .form_wrapper {

    position: relative;
    padding: 74px 40px;
    border-radius: 40px;
    background: #F6F5EF;
    margin-bottom: -99px;
    z-index: 2;
    border: 20px solid var(--tp-common-white);

}

.cta_inner .form_wrapper .flex_block {
    display: flex;
    flex-wrap: wrap;
}

.cta_inner .form_wrapper .flex_block .col_size_1 {
    flex: 0 0 auto;
    width: 50%;
    padding-inline: 10px;
}

.cta_inner .form_wrapper .flex_block .col_size_2 {
    flex: 0 0 auto;
    width: 100%;
    padding-inline: 10px;
}

/* ----form styles ----  */

.tp-cta-3-form-input {
    margin-bottom: 24px;
}

.tp-cta-3-form-input input {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(17, 22, 29, 0.12);
}

.tp-cta-3-form-input input:focus {
    border-color: var(--tp-theme-3);
    box-shadow: 0px 1px 2px 0px rgba(65, 95, 251, 0.06), 0px 4px 10px 0px rgba(255, 113, 98, 0.06), 0px 0px 0px 3px rgba(255, 113, 98, 0.02);
}

.tp-cta-3-form-input input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #949597;
    font-size: 15px;
    line-height: 24px;
}

.tp-cta-3-form-input input::-moz-placeholder {
    /* Firefox 19+ */
    color: #949597;
    font-size: 15px;
    line-height: 24px;
}

.tp-cta-3-form-input input:-moz-placeholder {
    /* Firefox 4-18 */
    color: #949597;
    font-size: 15px;
    line-height: 24px;
}

.tp-cta-3-form-input input:-ms-input-placeholder {
    /* IE 10+  Edge*/
    color: #949597;
    font-size: 15px;
    line-height: 24px;
}

.tp-cta-3-form-input input::placeholder {
    /* MODERN BROWSER */
    color: #949597;
    font-size: 15px;
    line-height: 24px;
}

.tp-cta-3-form-input textarea {
    height: 160px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(17, 22, 29, 0.12);
    resize: none;
}

.tp-cta-3-form-input textarea:focus {
    border-color: var(--tp-theme-3);
}

.tp-cta-3-btn button {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-radius: 20px;
    padding: 14px 0 14px 0;
    background: #11161D;
    color: var(--tp-common-white);
    box-shadow: 0px 1px 3px 0px rgba(17, 22, 29, 0.12);
    outline: none;
    border: none;
    transition: all 0.3s 0s ease-out;
    cursor: pointer;
    text-transform: none;
    line-height: inherit;
}

.tp-cta-3-btn button:hover {
    background-color: var(--tp-theme-3);
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
input[type=url],
textarea {
    outline: none;
    background-color: #fff;
    height: 54px;
    width: 100%;
    line-height: 56px;
    font-size: 14px;
    color: var(--tp-common-black);
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #E4E2DC;
}

/* 
===============
CTA section end
=================
 */

/* 
===============
Footer section Start
=================
 */

.footer_inner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-image: url(../images/footer-3-bg.jpg);
    min-height: 40vh;
}

.footer_inner .footer_main {
    padding-top: 190px;
    padding-bottom: 60px;
}

.footer_inner .flex_block {
    display: flex;
    flex-wrap: wrap;

}

.footer_inner .footer_col_1 {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding-inline: 10px;
}

.footer_inner .footer_col_2 {
    flex: 0 0 auto;
    width: 16.66666667%;
    padding-inline: 10px;
}

.footer_inner .footer_col_1 {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding-inline: 10px;
}

.tp-header-logo img {
    width: 125px;
}

.tp-footer-widget-content p {
    font-size: 17px;
    color: var(--tp-common-white);
}

.tp-footer-contact>span,
.tp-footer-contact>a {
    color: var(--tp-common-white);
}

.tp-footer-contact>span {
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
    line-height: 1;
}

.tp-footer-contact>a {
    font-size: 22px;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 10px;
}

.tp-footer-contact-mail a {
    font-size: 16px;
}

.tp-footer-3-col-2 {
    margin-left: -40px;
}

.tp-footer-widget-title {
    color: var(--tp-common-white);
    font-size: 22px;
    font-weight: 500;
}

.tp-footer-widget ul li {
    list-style: none;
    transition: all 0.3s 0s ease-out;
}

.tp-footer-widget ul li:not(:last-child) {
    margin-bottom: 5px;
}

.tp-footer-widget ul li a {
    position: relative;
    color: var(--tp-common-white);
    font-weight: 500;
    font-size: 16px;
}

.tp-footer-widget ul li a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    background: var(--tp-common-white);
    left: auto;
    right: 0;
    bottom: -2px;
    opacity: 0;
    transition: all 0.3s linear;
}

.tp-footer-3-col-3 {
    margin-left: -15px;
}

.tp-footer-3-col-4 {
    margin-left: 60px;
}

.tp-footer-3 .tp-footer-widget-title {
    color: var(--tp-common-white);
    font-size: 22px;
    font-weight: 500;
}

.tp-footer-newsletter-wrap p {
    color: var(--tp-common-white);
}

.tp-footer-newsletter-wrapper {
    position: relative;
}

.tp-footer-newsletter-input input {
    border-radius: 14px;
    border: 1px solid var(--tp-common-white);
    background-color: var(--tp-common-white);
    padding: 0 130px 0 24px;
}

.tp-footer-newsletter-submit {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

.tp-footer-newsletter-submit .tp-btn {
    font-size: 15px;
    font-weight: 600;
    padding: 6px 19px;
    border-radius: 14px;
    border: none;
    background-color: var(--tp-theme-3);
    cursor: pointer;
    color: var(--tp-common-white);
    transition: all 0.3s 0s ease-out;
    line-height: inherit;
}

.tp-footer-newsletter-social a {
    height: 38px;
    width: 38px;
    line-height: 38px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    font-size: 16px;
    transition: all 0.3s 0s ease-out;
}

.tp-footer-newsletter-social a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.tp-footer-newsletter-social a img {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.tp-footer-newsletter-social a:not(:last-of-type) {
    margin-right: 3px;
}

.tp-footer-3 .tp-footer-newsletter-social a {
    color: var(--tp-common-white);
    border: none;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
}

.footer_inner .copyright_block {
    display: flex;
    flex-wrap: wrap;
}

.coyright_wrapper {
    flex: 0 0 auto;
    width: 100%;
    padding-inline: 10px;
}

.footer_copyright_text {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 28px 0;
    text-align: center;
}

.footer_copyright_text span {
    font-size: 16px;
    line-height: 24px;
    font-family: var(--tp-ff-body);
    color: var(--tp-common-white);
}

.footer_copyright_text span a {
    color: inherit;
}

/* 
===============
Footer section end
=================
 */









/* 
 =========================================
 animations 
 ======================================

  */

@keyframes headerSlideDown {
    0% {
        margin-top: -150px;
    }

    100% {
        margin-top: 0;
    }
}


@-webkit-keyframes neptune {
    0% {
        transform: translate(0px, 0px);
    }

    20% {
        transform: translate(20px, -5px);
    }

    40% {
        transform: translate(50px, 20px);
    }

    60% {
        transform: translate(20px, 50px);
    }

    80% {
        transform: translate(-20px, 30px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@-moz-keyframes neptune {
    0% {
        transform: translate(0px, 0px);
    }

    20% {
        transform: translate(20px, -5px);
    }

    40% {
        transform: translate(50px, 20px);
    }

    60% {
        transform: translate(20px, 50px);
    }

    80% {
        transform: translate(-20px, 30px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@-ms-keyframes neptune {
    0% {
        transform: translate(0px, 0px);
    }

    20% {
        transform: translate(20px, -5px);
    }

    40% {
        transform: translate(50px, 20px);
    }

    60% {
        transform: translate(20px, 50px);
    }

    80% {
        transform: translate(-20px, 30px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes neptune {
    0% {
        transform: translate(0px, 0px);
    }

    20% {
        transform: translate(20px, -5px);
    }

    40% {
        transform: translate(50px, 20px);
    }

    60% {
        transform: translate(20px, 50px);
    }

    80% {
        transform: translate(-20px, 30px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes morph {

    0%,
    100% {
        border-radius: 40% 60% 70% 30%/40% 40% 60% 50%;
    }

    34% {
        border-radius: 70% 30% 50% 50%/30% 30% 70% 70%;
    }

    67% {
        border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
    }
}



@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}


@-webkit-keyframes a {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@-moz-keyframes a {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@-ms-keyframes a {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes a {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes opacity {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes tpswing {
    0% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}

@-webkit-keyframes tpswing {
    0% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}

@keyframes tpswings {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(-20px) rotate(-10deg);
    }
}

@keyframes bannerAnimationTwo {
    0% {
        transform: translate(0px, 0px);
    }

    20% {
        transform: translate(450px, 0px);
    }

    40% {
        transform: translate(450px, -20px);
    }

    60% {
        transform: translate(250px, -20px);
    }

    80% {
        transform: translate(50px, -10px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes hero-bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@keyframes spin {
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes spin {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes img-border {
    0% {
        -webkit-border-radius: 51% 49% 77% 23%/65% 50% 50% 35%;
        -moz-border-radius: 51% 49% 77% 23%/65% 50% 50% 35%;
        border-radius: 51% 49% 77% 23%/65% 50% 50% 35%;
    }

    100% {
        -webkit-border-radius: 30% 70% 28% 72%/53% 69% 31% 47%;
        -moz-border-radius: 30% 70% 28% 72%/53% 69% 31% 47%;
        border-radius: 30% 70% 28% 72%/53% 69% 31% 47%;
    }
}

@keyframes radiusChange {
    0% {
        border-radius: 0px 0px 0px 0px;
    }

    40% {
        border-radius: 50px 0px 80px 0px;
    }

    80% {
        border-radius: 0px 50px 0px 80px;
    }

    100% {
        border-radius: 0px 0px 0px 0px;
    }
}

@keyframes tpupdown {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

@keyframes morph {

    0%,
    100% {
        border-radius: 40% 60% 70% 30%/40% 40% 60% 50%;
    }

    34% {
        border-radius: 70% 30% 50% 50%/30% 30% 70% 70%;
    }

    67% {
        border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
    }
}

@keyframes radiusChange {
    0% {
        border-radius: 0px 0px 0px 0px;
    }

    40% {
        border-radius: 50px 0px 80px 0px;
    }

    80% {
        border-radius: 0px 50px 0px 80px;
    }

    100% {
        border-radius: 0px 0px 0px 0px;
    }
}


/* -----------mobile navbar--------- */
.menu_btn_icon {
    display: none;
}

.offcanvas__area {
    position: fixed;
    right: 0;
    top: 0;
    width: 450px;
    height: 100%;

    transform: translateX(calc(100% + 80px));
    background: var(--tp-common-white) none repeat scroll 0 0;
    z-index: 1000;
    transition: 0.3s linear;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scrollbar-width: none;

}

.offcanvas__area::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.offcanvas__area.offcanvas-opened {

    transform: translateX(0);
    opacity: 1;
}



.offcanvas__wrapper {
    position: relative;
    padding: 50px 40px 145px;
    z-index: 1;
    min-height: 100%;
}



.offcanvas-title {
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: -0.8px;
    color: var(--tp-common-black-1);
}

.offcanvas-title.sm {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0;
}

.offcanvas-content {
    margin-bottom: 45px;
}



.offcanvas-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #414144;
}

.offcanvas-gallery {
    margin-block: 45px;
}



.offcanvas-gallery-img {
    position: relative;
}

.offcanvas-gallery-img img {
    width: 100%;
    transition: 0.4s;
}

.offcanvas-gallery-img::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
}

.offcanvas-gallery-img:hover img {
    transform: scale(1.1);
}

.offcanvas-gallery-img:hover::after {
    opacity: 1;
    visibility: visible;
}

.offcanvas-contact {
    margin-bottom: 55px;
}



.offcanvas-contact ul li {
    margin-bottom: 2px;
    list-style: none;
}

.offcanvas-contact ul li a {
    position: relative;
    font-size: 18px;
    color: #414144;
    display: inline-block;
}

.offcanvas-contact ul li a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    left: auto;
    right: 0;
    bottom: 0px;
    opacity: 0;
    background: #414144;
    transition: all 0.3s linear;
}

.offcanvas-contact ul li a:hover::before {
    opacity: 1;
    width: 100%;
    left: 0;
    right: auto;
    transition: all 0.2s linear;
}

.offcanvas-social ul {
    display: flex;
    align-items: center;
}

.offcanvas-social ul li {
    list-style: none;
}

.offcanvas-social ul li:not(:last-of-type) {
    margin-right: 8px;
}

.offcanvas-social ul li a {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 40px;
    color: var(--tp-common-black-1);
    border: 1px solid rgba(2, 11, 24, 0.1);
}

.offcanvas-social ul li a svg {
    transform: translateY(-1px);
}

.offcanvas-social ul li a:hover {
    color: var(--tp-common-white);
    border-color: var(--tp-common-black);
    background-color: var(--tp-common-black);
}

.offcanvas__close {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2;
}



.offcanvas__close-btn {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    width: 50px;
    line-height: 40px;
    background-color: var(--tp-theme-primary);
    color: var(--tp-common-white);
    border: none;
    transition: 0.3s linear;
}



.offcanvas__close-btn:hover {
    background-color: var(--tp-theme-primary);
    color: var(--tp-common-white);
    opacity: 0.8;
}

.offcanvas__close-btn:hover svg {
    transform: translateY(-2px);
}

.offcanvas__close-btn svg {
    transform: translateY(-2px);
}

.offcanvas-open-btn {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s linear;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.offcanvas-open-btn span {
    font-size: 16px;
    font-weight: 400;
    transform: translateY(-3px);
    display: inline-block;
    transition: 0.3s linear;
}

.offcanvas-open-btn:hover {
    border-color: white;
    background-color: var(--tp-common-white);
}

.offcanvas-open-btn:hover i {
    color: var(--tp-common-black);
}

.offcanvas-open-btn i {
    display: inline-block;
    transform: translateY(-2px);
    color: var(--tp-common-white);
    transform: 0.3s linear;
}

.offcanvas-btn {
    margin-left: 20px;
}



.offcanvas__2 .offcanvas__close-btn {
    background-color: #1A73E8;
}

.offcanvas__2 .tp-main-menu-mobile ul li:hover>a .dropdown-toggle-btn i,
.offcanvas__2 .tp-main-menu-mobile ul li:hover>a,
.offcanvas__2 .tp-main-menu-mobile ul li.has-dropdown>a.expanded,
.offcanvas__2 .offcanvas__2 .tp-main-menu-mobile ul li.has-dropdown.expanded {
    color: #1A73E8;
}

.offcanvas__2 .tp-main-menu-mobile ul li:hover>a .dropdown-toggle-btn i .dropdown-toggle-btn::after,
.offcanvas__2 .tp-main-menu-mobile ul li:hover>a .dropdown-toggle-btn::after,
.offcanvas__2 .tp-main-menu-mobile ul li.has-dropdown>a.expanded .dropdown-toggle-btn::after,
.offcanvas__2 .offcanvas__2 .tp-main-menu-mobile ul li.has-dropdown.expanded .dropdown-toggle-btn::after {
    background-color: #556DF5;
}

.offcanvas__2 .tp-main-menu-mobile ul li:hover>a .dropdown-toggle-btn i .dropdown-toggle-btn::before,
.offcanvas__2 .tp-main-menu-mobile ul li:hover>a .dropdown-toggle-btn::before,
.offcanvas__2 .tp-main-menu-mobile ul li.has-dropdown>a.expanded .dropdown-toggle-btn::before,
.offcanvas__2 .offcanvas__2 .tp-main-menu-mobile ul li.has-dropdown.expanded .dropdown-toggle-btn::before {
    background-color: #556DF5;
}

.offcanvas__2 .offcanvas__social a {
    color: var(--tp-theme-secondary);
    border: 2px solid #1A73E8;
}

.offcanvas__3 .offcanvas__close-btn {
    background-color: var(--tp-theme-3);
}

.offcanvas__3 .tp-main-menu-mobile ul li:hover>a .dropdown-toggle-btn i,
.offcanvas__3 .tp-main-menu-mobile ul li:hover>a,
.offcanvas__3 .tp-main-menu-mobile ul li.has-dropdown>a.expanded {
    color: var(--tp-theme-3);
}

.offcanvas__3 .tp-main-menu-mobile ul li:hover>a .dropdown-toggle-btn i .dropdown-toggle-btn::after,
.offcanvas__3 .tp-main-menu-mobile ul li:hover>a .dropdown-toggle-btn::after,
.offcanvas__3 .tp-main-menu-mobile ul li.has-dropdown>a.expanded .dropdown-toggle-btn::after {
    background-color: var(--tp-theme-3);
}

.offcanvas__3 .tp-main-menu-mobile ul li:hover>a .dropdown-toggle-btn i .dropdown-toggle-btn::before,
.offcanvas__3 .tp-main-menu-mobile ul li:hover>a .dropdown-toggle-btn::before,
.offcanvas__3 .tp-main-menu-mobile ul li.has-dropdown>a.expanded .dropdown-toggle-btn::before {
    background-color: var(--tp-theme-3);
}

.offcanvas__3 .offcanvas__social a {
    color: var(--tp-theme-3);
    border: 2px solid var(--tp-theme-3);
}

.offcanvas__3 .offcanvas__social a:hover {
    color: var(--tp-common-white);
}

.tp-main-menu-mobile ul li {
    list-style: none;
    position: relative;
    width: 100%;
    padding: 0;
}

.tp-main-menu-mobile ul li.has-dropdown>a .dropdown-toggle-btn {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: end;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tp-main-menu-mobile ul li.has-dropdown>a .dropdown-toggle-btn::before {
    height: 12px;
    width: 2px;
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--tp-common-black);
    transition: 0.4s ease 0.1s;
    margin: auto;
    line-height: 28px;
    text-align: end;
}

.tp-main-menu-mobile ul li.has-dropdown>a .dropdown-toggle-btn::after {
    height: 2px;
    width: 12px;
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--tp-common-black);
    transition: 0.4s ease 0.1s;
    margin: auto;
}

.tp-main-menu-mobile ul li>a {
    display: block;
    font-size: 16px;
    color: var(--tp-common-black);
    position: relative;
    padding: 10px 0;
    padding-right: 20px;
}



.tp-filter-dropdown-wrapper.filter-dropdown-opened {
    visibility: visible;
    opacity: 1;
    -webkit-transform: perspective(300px) rotateX(0deg);
    -moz-transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -o-transform: perspective(300px) rotateX(0deg);
    transform: perspective(300px) rotateX(0deg);
}

.tp-main-menu-mobile ul li .mega-menu,
.tp-main-menu-mobile ul li .tp-megamenu-main,
.tp-main-menu-mobile ul li .tp-submenu {
    position: static;
    min-width: 100%;
    padding: 0;
    box-shadow: none;
    visibility: visible;
    opacity: 1;
    display: none;
    transform: scale(1);
    transform-origin: inherit;
    transition: none;
}

.mobile_nav_img_container {
    display: flex;
    flex-wrap: wrap;
}

.mobile_nav_img_block {
    flex: 0 0 auto;
    width: 25%;
    padding-inline: 10px;
}

.tp-main-menu-mobile ul li.expanded .mega-menu,
.tp-main-menu-mobile ul li.expanded .tp-megamenu-main,
.tp-main-menu-mobile ul li.expanded .tp-submenu {
    display: block;
}

.tp-main-menu-mobile ul li ul li a {
    margin-left: auto;
    width: 93%;
    padding: 10px 5%;
    text-shadow: none !important;
    visibility: visible;
    padding-left: 0;
    padding-right: 20px;
}

.tp-megamenu-fullwidth-title {
    font-size: 16px;
    color: #000000b0;
    font-weight: 600;
    padding-bottom: 8px;
    border-bottom: 1px solid #f3f3f3;
}


/* =========body overlay========= */
.body-overlay {
    background-color: var(--tp-common-black);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    opacity: 0;
    visibility: hidden;

    transition: all 0.3s 0s ease-out;
}

.body-overlay:hover {
    cursor: url("../img/icon/cross-out.png"), pointer;
}

.body-overlay.opened {
    opacity: 0.7;
    visibility: visible;
}